{% extends "layout.html" %}

{% block title %}
    tweeter Django Project
{% endblock  %}

{% block content %}
<h1 class="text-center mt-4">Welcome to tweet Django Project</h1>
<a class="btn btn-primary" href="{% url 'create_tweet' %}"> Create a tweet</a>

<div class="container row gap-3 mt-4">
    {% for tweet in tweets %}
    <div class="card bg-dark border border-secondary"  style="width: 20rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top mt-3" alt="...">
        <div class="card-body bg-dark">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          {% if tweet.user == user %}
          <a href="{% url 'edit_tweet' tweet.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'delete_tweet' tweet.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>

{% endblock  %}
